.inputsearchnav{
    width : 70% !important;
    margin-left : 2rem
}
.navinpH{
    height: 50px !important;
}
.homeinput{
    width: 100%;
    border : none;
    padding : 1rem;
    border-radius: 50px;
}
.inputbox{
    display : flex;
    align-items : center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 50px;
    width: 50%;
    margin: 2rem auto;

}
.homesearchbtn{
    font-size: 1.2rem;
}